
#contenidotexto #general {

}

#contenidotexto #Header {
    text-align: center;
    height: 30px;
    margin: 0px;
    background-color: #1D507F;
    color: #fff;
    padding: 5px;
}

#contenidotexto p{
    text-align:justify;
}

#contenidotexto #fuente{
    background-color: #f8f9fb;
    border: 1px solid #BBDEFB;
    margin: 40px 0;
    padding: 20px;
}

/* Colores: */
#contenidotexto .persName {
    color: #968eee;
}
#contenidotexto .placeName {
    color: #5fd79a;
}
#contenidotexto .roleName {
    color: #89c1e4;
}
#contenidotexto .name {
    color: #fe6060;

}

#contenidotexto sup {
    color: purple;
    text-decoration: none;
}
